#!/bin/bash

hostname `hostname`.{{ domain_name }}

sed -i '/HOSTNAME=/d' /etc/sysconfig/network
echo "HOSTNAME=`hostname`" >> /etc/sysconfig/network
sed -i.bak '/ - update_hostname/d' /etc/cloud/cloud.cfg

#Delete default repo files
rm /etc/yum.repos.d/Cen*

# Declare local base repository
cat << EOF >/etc/yum.repos.d/base.repo
[centos-base]
name=centos-base
baseurl={{phenix_repo}}/centos66/
gpgcheck=0
sslverify=false
enabled=1
proxy=_none_

[centos-kernel]
name=centos-kernel
baseurl={{phenix_repo}}/el6/kernel
gpgcheck=0
sslverify=false
enabled=1
proxy=_none_
EOF

# yum clean
yum clean all

# Fix mesos yum bug
yum downgrade cyrus-sasl-lib cyrus-sasl nss-softokn-freebl openssl -y

# Fix device-mapper version conflict 
yum remove -y device-mapper-1.02.90-2.el6_6.1

# Upgrade to the latest kernel
yum update -y kernel

# Change default boot order
sed -i s/^default=1/default=0/ /boot/grub/grub.conf

# Force ntp synchronisation
yum install -y ntp
rm /etc/localtime
ln -s /usr/share/zoneinfo/Europe/Paris /etc/localtime

echo "" > /etc/ntp.conf

for ntpsrv in `echo {{ ntp_server }} | sed 's/,/ /g'`
do
    echo "server ${ntpsrv}" >>/etc/ntp.conf
    ntpdate ${ntpsrv}
done

service ntpd start

# Configure dns

cat /etc/resolv.conf  | grep -iv "^nameserver" > /etc/resolv.conftmp

for dnssrv in `echo {{ dns_server }} | sed 's/,/ /g'`
do
    echo "nameserver ${dnssrv}" >>/etc/resolv.conftmp
done

cat /etc/resolv.conftmp > /etc/resolv.conf
rm -f /etc/resolv.conftmp

#correct dhcp_client bug
if [ -f /etc/sysconfig/network-scripts/ifcfg-eth0 ]
then
    grep -q -F 'PERSISTENT_DHCLIENT=1' /etc/sysconfig/network-scripts/ifcfg-eth0 || echo 'PERSISTENT_DHCLIENT=1' >> /etc/sysconfig/network-scripts/ifcfg-eth0
fi

# Disable iptables
chkconfig --level 2345 iptables off

# Disable Ipv6
cat << EOF >/etc/modprobe.d/ipv6.conf
options ipv6 disable=1
EOF

# Set permissive mode on selinux
sed -i s/^SELINUX=.*$/SELINUX=permissive/ /etc/selinux/config

echo "%phenix_adm ALL= NOPASSWD: ALL" >> /etc/sudoers
echo 'add user phenix_adm ...'
useradd -m -s /bin/bash phenix_adm
mkdir -p /home/phenix_adm/.ssh
chmod 0700 /home/phenix_adm/.ssh
echo '{{vault_phenix_adm_pub_key}}' > /home/phenix_adm/.ssh/authorized_keys
chmod 0600 /home/phenix_adm/.ssh/authorized_keys
chown -R  phenix_adm /home/phenix_adm

# Remove require tty into sudoer
sed -i s/^"Defaults    requiretty"//g /etc/sudoers

# set hostname
sed -i s/"novalocal"/{{hostname_suffix}}/g /etc/sysconfig/network

echo "resizing boot partition ..."
echo -e "c\nu\np\nd\nn\np\n1\n\n\na\n1\np\nw\n" | fdisk /dev/vda
reboot now
